/* Base */
body {
  font-family: 'Open Sans', serif;
  margin: 0 auto;
  background-color: #fff;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  letter-spacing: .2rem;
}

h2 {
  text-transform: uppercase;
}

p {
  color: #333;
}

/* Layout */
header {
  color: #555;
}

nav {
  transition: top 0.8s;
}

nav a {
  letter-spacing: .85px;
}

a, button {
  color: #777;
  text-transform: uppercase;
}

footer {
  height: 100px;
  background-color: #212529;
}

.container {
  max-width: 90%;
  margin: auto;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('img/icon-box.svg');
  background-position: center;
  background-color: var(--dark);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -500;
}

.spacer {
  height: 100vh
}

.jumbotron h2 {
  color: #777;
}

.jumbo-container {
  max-height: 400px;
  margin: 2em;
  transform: translateY(38px);
}

.bracket {
  vertical-align: baseline;
  height: 30px;
}

.thumb {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.nav-title {
  margin-top: 60px;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-align: center;
  background-color: #c0c5ce;
  height: 400px;
  max-width: 375px;
  margin: 0 auto 30px;
  padding: 15px 10px;
  /* border-radius: 5px; */
  /* box-shadow: 3px 3px 10px 0px #333; */
}

.title {
  padding-bottom: .5rem;
}

.btn {
border-radius: 20px;
font-family: 'Roboto Mono', monospace;
}

.portfolio  {
  background-color: #fff;
}

.skills {
 /* padding-left: 20%; */
 list-style: square;
 }

.address {
  font-variant: small-caps;
  font-size: 20px;
  letter-spacing: 1px;
  color: #888;
}

.contact {
  align-items: center;
  text-align: center;
}

.contact-logo {
  width: 150px;
  border: 4px solid #fff;
  border-radius: 50%;
  margin: auto;
  display: block;
  padding: 0;
}

.icon {
  padding: .5rem;
}

.mail {
  transform: scale(2);
  margin-right: 2em;
}

.img{
  width: 100%;
  border-radius: 5px;
  opacity: 0;
}
/* States */
.active {
  border-bottom: 2px solid var(--dark);
}

.overlay a {
  transition: transform 150ms ease-in;
}
.overlay a:hover {
  transform: scale(1.1);
}

.navbar-toggler {
  border: none;
}

/* -- Media Queries -- */

@media (max-width: 449px) {
  h2 {
    font-size: 28px
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .jumbotron h1 {
    font-size: 30px;
  }

  .jumbotron h2 {
    font-size: 20px;
  }
  .address {
    font-size: 16px;
  }
}

@media (max-width: 575.9px){
  .portfolio  {
    background-color: #000;
    color: #fff;
  }

  .jumbotron {
    background-color: #000;
  }
/*
  #about + .container p {
    color: #999;
  }
*/

  .active {
    border-bottom: none;
    border-left: 3px solid var(--dark);
  }

  .navbar-nav .nav-link {
    padding-left: 0.25em;
  }
}

@media (min-width: 576px){
  .contact-logo {
    width: 200px;
  }
}

@media (max-width: 767.9px){

}

@media (min-width: 768px){
  .contact {
    min-height: 55vh;
    align-items: center;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }

  .contact-logo {
    width: 250px;
  }
}
