* {
  box-sizing: border-box;
  font-family: 'Courgette',cursive;
}

body {
  margin: auto;
  background-color: lightgrey;
  text-align: center;
}

button {
  border: 2px solid #28a745;
  background-color: #28a745;
  border-radius: 5px;
  padding: 1em;
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-size: 1em;
}

.square {
  float: left;
  width: 75px;
  height: 75px;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
}

.container {
  position: relative;
  width: 229px;
  height: 229px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
}

.row {
 clear: both;
}

.X {
  background-color: #dc3545;
  font-size: 60px;
}

.O {
  font-size: 60px;
  background-color: #007bff;
}

.X::after {
  content: "X";
}

.O::after {
  content: "O";
}

/* -- Modal -- */
.modal-outer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  color: #dc3545;
  font-family: 'Lato',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.start-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  z-index: 100;
  position: fixed;
  top: 30%;
  left: 10%;
  right: 10%;
  max-width: 300px;
  background-color: #28a745;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

.modal-wrap {
  position: relative;
  margin: 0 auto;
  padding: .5em;
  color: #fff;
}

.cover{
  position: absolute;
  top: 35%;
  left: 10%;
  right: 10%;
  max-width: 300px;
}

@media (min-width: 550px) {
  h1 {
  font-size: 60px;
  }

  .modal-wrap {
    padding: 1em;
    font-size: 20px;
  }
}
