body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  background-color: hsl(0deg, 0%, 70%);
}

h1 {
  text-align: center;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  color: hsl(0deg, 0%, 10%);
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

span {
  font-size: 1.5rem;
  font-variant: small-caps;
  color: hsl(0deg, 0%, 90%);
  position: absolute;
  right: 15px;
  bottom: 55px;
}

input {
  font-size: 1.25rem;
  width: 100px;
  margin-left: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 2px 2px 8px #555 inset;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

select {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 1em;
}

li {
  list-style: none;
  position: relative;
}

ul {
  text-align: center;
  padding: 0;
  margin-top: 0;
}

.item {
  width: 300px;
  height: 125px;
  display: inline-block;
  background-color: #007bff;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

@media (max-width: 600px){
  h1 {
    color: #fff;
  }

  body {
    margin-top: 30px;
    background-color: hsl(0deg, 0%, 10%);
  }

  .item {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .item:nth-child(even){
    background-color: hsl(0deg, 0%, 50%);
  }
}
