
body {
  font-family: 'Open Sans';
  background-color: hsla(180, 38%, 80%, 0.2);
}

img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

h1 {
  font-family: 'Bubblegum Sans', cursive;
  color: #fff;
}

h3 {
  font-family: 'Alegreya';
}

p {
  color: #555;
}

footer {
  background-color: hsla(180, 38%, 30%, 0.5);
}

.navbar-toggler {
  border: none;
}

.jumbotron {
  background:
   linear-gradient(rgba(0, 212, 255, 0.1), rgba(255, 255, 0, 0.1)),
   url('img/road-toledo.jpg');
  background-size: cover;
  min-height: 50vh;
}

.header-p {
  color: #fff;
  font-size: 1.25rem;
  text-shadow: 2px 2px 5px #000;
}

.content-h1 {
  color: hsla(180, 38%, 30%, 0.8);
}

.photo-image {
  padding: 4%;
  background-color: #fff;
  box-shadow: 2px 2px 5px #555;
}

.rotate-r {
  transform: rotate(4deg);
}

.rotate-l {
  transform: rotate(-5deg);
}

/* Jquery header message */
#flashMessage {
  color: #fff;
  font-size: 35px;
  padding-top: 30px;
  text-shadow: 3px 3px 5px #000;
  display: none;
}

.nav-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Media Queries */
@media (max-width: 575.9px){
 #flashMessage {
    font-size: 25px;
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
  }

 p {
    font-size: 14px;
 }
}

@media  (max-width: 575.9px) and (orientation: landscape) {
  img {
    max-height: 300px;
  }
}

@media (min-width: 576px){
  header h1 {
    font-size: 3.25em;
  }

  .header-p {
    font-size: 1.75em;
  }

  img {
    max-height: 60vh;
  }
}
