
body {
  font-family: 'Open Sans';
  background-color: #D2C29D;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #615550;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #D2C29D;
}

img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

h1 {
  font-family: 'Bubblegum Sans', cursive;
  color: #F0EAD6;
}

h2, h3 {
  color: #615550;
}

h3 {
  font-family: 'Alegreya';
}

p {
  color: #555;
}

footer {
  height: 75px;
  background-color: #615550;
  color: #F0EAD6;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0px;
  transform: scale(0);
  background: #D2C29D;
  transition: transform 300ms ease-in,
              height 300ms ease-in;
}

.bg-light {
  background-color: #F0EAD6 !important;
}

.jumbotron {
  background:
   linear-gradient(rgba(0, 212, 255, 0.1), rgba(255, 255, 0, 0.1)),
   url('img/road-toledo.jpg');
  background-size: cover;
  min-height: 50vh;
}

.header-p {
  color: #F0EAD6;
  font-size: 1.25rem;
  text-shadow: 2px 2px 5px #000;
}

.content-h1 {
  color: #615550;
}

.photo-image {
  padding: 4%;
  background-color: #fff;
  box-shadow: 2px 2px 5px #555;
}

.rotate-r {
  transform: rotate(4deg);
}

.rotate-l {
  transform: rotate(-5deg);
}

/* Jquery header message */
#flashMessage {
  color: #F0EAD6;
  font-size: 35px;
  padding-top: 30px;
  text-shadow: 3px 3px 5px #000;
  display: none;
}

.nav-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Media Queries */
@media (max-width: 575.9px){
 #flashMessage {
    font-size: 25px;
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
  }

 p {
    font-size: 14px;
 }

 .nav-thumb {
   width: 35px;
   height: 35px;
 }
}

@media  (max-width: 575.9px) and (orientation: landscape) {
  img {
    max-height: 300px;
  }
}

@media (min-width: 576px){
  header h1 {
    font-size: 3.25em;
  }

  .header-p {
    font-size: 1.75em;
  }

  img {
    max-height: 60vh;
  }

  .nav-item.active::after {
    transform: scale(1);
    height: 2px;
  }
}
